// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$simple-chat-primary: mat-palette($mat-light-blue);
$simple-chat-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$simple-chat-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$simple-chat-theme: mat-dark-theme(
  $simple-chat-primary,
  $simple-chat-accent,
  $simple-chat-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($simple-chat-theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #161719;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.centered-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 350px;
  padding: 20px;
  & > * {
    width: 100%;
  }
}

.flex-1 {
  flex: 1;
}
